#donate {
    padding: 5px;
}

.donate-title {
    display: flex;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.ton-connect-btn {
    justify-content: center;
    display: flex;
}