footer {
    z-index: 100;
    position: absolute;
    max-width: inherit;
    display: flex;
    width: 100%;
    height: 7%;
    top: 93%;
}

footer .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #613DC1;
    border: solid 1px #4E148C;
    cursor: pointer;    
}

footer .page:hover {
    background-color: #4b2d9e;
    border: solid 1px #4E148C;
}

footer .page.active {
    background-color: #56477e;
}

footer img {
    transform: scale(1.2);
}

